<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ActivityInfoMapper" >
  <resultMap id="BaseResultMap" type="ActivityInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="brief" property="brief" jdbcType="VARCHAR" />
    <result column="enroll_begin_time" property="enrollBeginTime" jdbcType="TIMESTAMP" />
    <result column="enroll_end_time" property="enrollEndTime" jdbcType="TIMESTAMP" />
    <result column="hold_begin_time" property="holdBeginTime" jdbcType="TIMESTAMP" />
    <result column="hold_end_time" property="holdEndTime" jdbcType="TIMESTAMP" />
    <result column="edit_status" property="editStatus" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="publisher" property="publisher" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="view_count" property="viewCount" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
 	<result column="content" property="content" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, category, city, thumbnail, title, brief, enroll_begin_time, enroll_end_time, 
    hold_begin_time, hold_end_time, edit_status, status, publisher, publish_time, view_count, 
    remark, create_time, update_time
  </sql>
  <select id="queryById" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from activity_info
    where id = #{id}
  </select>
  <select id="queryWithContent" resultMap="BaseResultMap" parameterType="map" >
    select 
    c.id, category, city, thumbnail, title, brief, enroll_begin_time, enroll_end_time, 
    hold_begin_time, hold_end_time, edit_status, status, publisher, publish_time, view_count, 
    remark, c.create_time, c.update_time,content
    from activity_info c LEFT JOIN content_info ct ON c.id =
	ct.related_id
	where c.id = #{id}
	and ct.related_type = 1
  </select>
  <insert id="insert" parameterType="ActivityInfo" useGeneratedKeys="true" keyProperty="id">
    insert into activity_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="category != null" >
        category,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="thumbnail != null" >
        thumbnail,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="brief != null" >
        brief,
      </if>
      <if test="enrollBeginTime != null" >
        enroll_begin_time,
      </if>
      <if test="enrollEndTime != null" >
        enroll_end_time,
      </if>
      <if test="holdBeginTime != null" >
        hold_begin_time,
      </if>
      <if test="holdEndTime != null" >
        hold_end_time,
      </if>
      <if test="editStatus != null" >
        edit_status,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="publisher != null" >
        publisher,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="viewCount != null" >
        view_count,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="brief != null" >
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="enrollBeginTime != null" >
        #{enrollBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enrollEndTime != null" >
        #{enrollEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="holdBeginTime != null" >
        #{holdBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="holdEndTime != null" >
        #{holdEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editStatus != null" >
        #{editStatus,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="publisher != null" >
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="viewCount != null" >
        #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="ActivityInfo" >
    update activity_info
    <set>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        thumbnail = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="brief != null" >
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="enrollBeginTime != null" >
        enroll_begin_time = #{enrollBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enrollEndTime != null" >
        enroll_end_time = #{enrollEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="holdBeginTime != null" >
        hold_begin_time = #{holdBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="holdEndTime != null" >
        hold_end_time = #{holdEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editStatus != null" >
        edit_status = #{editStatus,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="publisher != null" >
        publisher = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="viewCount != null" >
        view_count = #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateViewCount" parameterType="map" >
    update activity_info
    set view_count = view_count + 1
    where id = #{id}
  </update>
  <update id="updateStatus" parameterType="map" >
    update activity_info
    set status = #{status},
   	update_time = now()
    where id = #{id}
  </update>
  
  <sql id="select_param">
  	<where>
  		<if test="id != null">and id = #{id}</if>
  		<if test="category != null">and category = #{category}</if>
  		<if test="title != null">and title like #{title}</if>
  		<if test="publisher != null">and publisher = #{publisher}</if>
  		<if test="editStatus != null">and edit_status = #{editStatus}</if>
  		<if test="status != null">and status = #{status}</if>
  		<if test="holdBeginDate != null"><![CDATA[and hold_begin_time >= #{holdBeginDate}]]></if>
  		<if test="holdEndDate != null"><![CDATA[and hold_begin_time <= #{holdEndDate}]]></if>
  		<if test="city != null">and city = #{city}</if>
  	</where>
  </sql>
  <select id="countPage" parameterType="map" resultType="Integer">
  	select count(*) from activity_info
  	<include refid="select_param"/>
  </select>
  <select id="queryPage" parameterType="map" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/>
    from activity_info
    <include refid="select_param"/>
    <choose>
		<when test="orderBy != null and order != null">order by ${orderBy} ${order}</when>
		<otherwise>order by id desc</otherwise>
	</choose>
		limit ${startIndex}, ${pageSize}
  </select>


</mapper>