<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
	xsi:schemaLocation="http://www.springframework.org/schema/data/elasticsearch http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 多个node用逗号分开 -->
	<!-- <elasticsearch:transport-client id="client" cluster-name="${sns.elasticsearch.clusterName}" 
		cluster-nodes="${sns.elasticsearch.url}"/> -->
	<!-- <elasticsearch:transport-client id="client" cluster-name="elasticsearchtest" 
		cluster-nodes="192.168.91.178:9300" /> -->
	<elasticsearch:transport-client id="client"
		cluster-name="${es.cluster.name}" cluster-nodes="${es.cluster.nodes}" />

	<bean name="elasticsearchTemplate"
		class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
		<constructor-arg name="client" ref="client" />
	</bean>

	<elasticsearch:repositories base-package="com.ejuzuo.server.elasticsearch.repositories" />

</beans>
